body {
    background: linear-gradient(to right, #000428, #000000);
    font-family: 'Orbitron', sans-serif;
    color: #ddd;
    padding-bottom: 40px;
    animation: fadeIn 1.2s ease-in-out;
    overflow: hidden;
  }
  video {
    width: 100%;
    height: 100vh;
  }

  h2, h3, h4, h5, li {
    color: #ffffff;
    text-shadow: 0 0 5px rgb(0, 0, 0);
  }

  .navbar {
    background-color: transparent;
    box-shadow: 0 0 10px #0ff;
  }

  .navbar-brand img {
    height: 80px;
  }

  .nav-link {
    color: #0ff !important;
    transition: 0.3s;
    font-weight: bold;
  }

  .nav-link:hover {
    color: #ddd !important;
    text-shadow: 0 0 10px #000000;
  }

  .btn-primary {
    background-color: #000;
    border: 2px solid #ffffff;
    color: #ffffff;
    box-shadow: 0 0 10px #000000;
    transition: 0.4s ease;
  }

  .btn-primary:hover {
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 0 20px #000000;
  }

  .rounded {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #0ff;
    box-shadow: 0 0 15px #0ff;
  }

  ul, ol {
    padding-left: 20px;
  }

  ul.bg-black {
    background-color: #000;
    color: #0ff;
    box-shadow: 0 0 15px #0ff;
  }

  a{
    color: #0ff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 4px;
  }

  a:hover {
    color: #ffd700;
  }

  iframe {
    border-radius: 12px;
    box-shadow: 0 0 20px #00ffff;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .hidden {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  .hidden.show {
    opacity: 1;
    visibility: visible;
  }

  .interactive-button {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .interactive-button:hover {
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 0 10px #ffffff;
  }
  h1,h2,h3,h4,h5,h6,li,p {
    color: #ddd;
  }

  .offcanvas {
    background-color: #000;
  }

  .modal h4 {
    text-shadow: none;
    color: #000;
  }